#contenedor{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

    display: block;
    overflow: hidden;
}

#fondo{
    position: absolute;
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url(../images/fondo.jpg);
}

.fondo-zoom-in{
    transition: width 2s, height 2s, top 2s, left 2s;
}

#personajes,#zonas,#mascaras{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.personaje,.zona{
    position: absolute;
}
.personaje{
    filter: filter 1s;
}
.personaje-locked{
    filter: grayscale(100%);
}
.personaje-unlocked{
    filter: grayscale(0%);
}

.personaje img,
.zona img{
    width: 100%;
    height: 100%;
}
.zona img{
    opacity: 0;
    transition: opacity 0.2s;
}
.zona img:hover{
    cursor: pointer;
    opacity: 0.7;
}
.zona-on{
    display: block;
}
.zona-off{
    display: none;
}

#mascara-1,#mascara-2{
    position: absolute;
    width: auto;
    height: 100%;
    top: 0px;
    /*backdrop-filter: blur(2px);*/
}
#mascara-1{
    left: 0px;
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 75%);
}
#mascara-2{
    right: 0px;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 25%);
}
.mascara-off{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}
.mascara-on{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0s;
}

#omitir-btn{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/******************dialogos********************/

.dialogos-container-off{
    visibility: hidden;
    transition: visibility 0.5s;
}
.dialogos-container-on{
    visibility: visible;
}

#dialogos-container,
#modal,
#modal-final{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

#dialogo-informacion-container{
    position: absolute;
    width: 400px;
    top: 15px;
    right: 50px;
    perspective: 600px;
}

.dialogo-informacion-out #dialogo-informacion{
    transform: rotateX(90deg);
    opacity: 0;
    transition: transform 0.5s, opacitity 0.5s;
}
.dialogo-informacion-in #dialogo-informacion{
    animation: animacion-dialogo-informacion 1s 1 forwards;
}
@keyframes animacion-dialogo-informacion {
    0%{
        transform: rotateX(90deg);
        opacity: 0;
        animation-timing-function: ease-in;
    }
    50%{
        transform: rotateX(-15deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    85%{
        transform: rotateX(5deg);
        opacity: 1;
        animation-timing-function: ease-int;
    }
    100%{
        transform: rotateX(0deg);
        opacity: 1;
    }
}

#dialogo-informacion{
    width: 100%;
    height: 90px;
    padding: 15px;
    background-color: #fff;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    transform-origin: top center;
    
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.4);
}
.dialogo-informacion-foto{
    width: 60px;
    height: auto;
    max-height: 60px;
    background-color: #E6F6FC;
}
.dialogo-informacion-foto img{
    width: 100%;
    height: 100%;
    object-position: center bottom;
}
.dialogo-informacion-info{
    width: auto;
    width: calc(100% - (50px + 60px + 20px));
    width: -moz-calc(100% - (50px + 60px + 20px));
    height: auto;
    margin: 0px 10px;
}
.dialogo-informacion-info h2,
.dialogo-informacion-info h4{
    font-family: 'Helvetica';
    font-size: 0.9rem;
    color: #003FA2;
}
.dialogo-informacion-info h3{
    font-family: 'Helvetica-Bold';
    font-size: 1rem;
    color: #EE7623;
    margin-top: 0px;
    margin-bottom: 2px;
}
.dialogo-informacion-imagen{
    width: 50px;
    height: auto;
    display: flex;
    align-items: center;
}
.dialogo-informacion-imagen img{
    width: 100%;
    height: auto;
}

.dialogo-interaccion-off{
    top: 40%;
    opacity: 0;
    visibility: hidden;
    transition: top 0.5s, opacity 0.5s, visibility 0.5s;
}
.dialogo-interaccion-on{
    top: 50%;
    opacity: 1;
    visibility: visible;
}

#dialogo-interaccion{
    position: absolute;
    width: 50%;
    height: 100%;
    height: calc(100% - 250px);
    height: -moz-calc(100% - 250px);
    left: 25%;
    transform: translateY(-50%);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #666666 #F4F1EA;
}

.dialogo-user,
.dialogo-doctor{
    width: 80%;
    height: auto;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    margin-bottom: 15px;
    transform-origin: center bottom;
    transition: left 0.2s, opacity 0.2s;
}

.dialogo-user-on{
    left: 0%;
    opacity: 1;
    animation: animacion-dialogo-user-on 0.5s 1 forwards;
}
@keyframes animacion-dialogo-user-on {
    0%{
        transform: skewX(0deg);
        left: -20%;
        opacity: 0;
        animation-timing-function: ease-out;
    }
    80%{
        transform: skewX(-15deg);
        left: 0%;
        opacity: 1;
        animation-timing-function: ease-in;
    }
    100%{
        transform: skewX(0deg);
        left: 0%;
        opacity: 1;
    }
}
.dialogo-doctor-on{
    left: 0%;
    opacity: 1;
    animation: animacion-dialogo-doctor-on 0.5s 1 forwards ease-out;
}
@keyframes animacion-dialogo-doctor-on {
    0%{
        transform: skewX(0deg);
        left: 40%;
        opacity: 0;
        animation-timing-function: ease-out;
    }
    80%{
        transform: skewX(15deg);
        left: 20%;
        opacity: 1;
        animation-timing-function: ease-in;
    }
    100%{
        transform: skewX(0deg);
        left: 20%;
        opacity: 1;
    }
}

.dialogo-user-title,
.dialogo-doctor-title,
.dialogo-user-text,
.dialogo-doctor-text{
    width: 100%;
    padding: 5px;
}
.dialogo-user-title h5,
.dialogo-doctor-title h5{
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: 0.9rem;
}
.dialogo-user-title{
    padding-left: 25px;
    background: url(../images/icon-dialogo-usuario.svg) no-repeat #C1E8F9;
    background-size: 15px;
    background-position: 5px center;
}
.dialogo-doctor-title{
    padding-left: 25px;
    background: url(../images/icon-dialogo-doctor.svg) no-repeat #AFFFEC;
    background-size: 15px;
    background-position: 5px center;
}
.dialogo-user-title h5{
    color: #003FA2;
}
.dialogo-doctor-title h5{
    color: #00795C;
}
.dialogo-user-text,
.dialogo-doctor-text{
    background-color: #fff;
    padding: 8px 10px;
}
.dialogo-user-text p,
.dialogo-doctor-text p{
    font-family: 'Helvetica';
    font-size: 0.95rem;
    color: #000;
}

.dialogo-pregunta-off{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 1s, visibility 1s;
}
.dialogo-pregunta-on{
    opacity: 1;
    visibility: visible;
    transition: opacity 1s, visibility 0s;
}

#dialogo-pregunta{
    position: absolute;
    width: 550px;
    height: auto;
    height: calc(100% - (90px + 15px + 15px + 15px));
    height: -moz-calc(100% - (90px + 15px + 15px + 15px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    left: 50px;
    top: 120px;/*90 + 15 + 15*/
}
#dialogo-pregunta-top,
#dialogo-pregunta-bot{
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.4);
}
#dialogo-pregunta-top{
    border-top: #59595B solid 5px;
    padding: 40px 15px 15px 15px;
    margin-bottom: 15px;
}
#dialogo-pregunta-bot{
    border-top: #00BE91 solid 5px;
    padding: 15px;
}

.dialogo-pregunta-bot-off{
    top: -20px;
    opacity: 0;
    transform: scale(1.1);
    transition: top 0.5s, opacity 0.5s, transform 0.5s;
}
.dialogo-pregunta-bot-on{
    top: 0px;
    opacity: 1;
    transform: scale(1);
    transition: top 0.5s, opacity 0.5s, transform 0.5s;
}

.dialogo-pregunta-icon,
.modal-icon{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F2F2F2;
    border: #fff solid 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.3);
}
.dialogo-pregunta-icon img,
.modal-icon img{
    width: 30px;
    height: auto;
}
                
#dialogo-pregunta-enunciado,
#dialogo-pregunta-estado{
    width: 100%;
    margin-bottom: 15px;
}
#dialogo-pregunta-enunciado p,
#dialogo-pregunta-estado p{
    font-family: 'Helvetica-Bold';
    font-size: 1.1rem;
    color: #000;
    text-align: center;
}
#dialogo-pregunta-estado p{
    font-size: 1rem;
}
                
#dialogo-pregunta-respuestas{
    width: 100%;
    width: calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
}
.dialogo-pregunta-respuesta{
    width: 100%;
    display: flex;
    margin-bottom: 5px;
    align-items: stretch;
    cursor: pointer;
}

.dialogo-pregunta-respuesta h6{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: auto;
    margin-right: 10px;
    background-color: #FADCC7;

    font-family: 'Helvetica';
    font-size: 1.3rem;
    color: #EE7623;
    font-weight: 600;
    text-align: center;
}

.dialogo-pregunta-respuesta p{
    display: block;
    width: auto;
    width: calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    height: auto;
    padding: 10px;
    background-color: #FDF6F1;

    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 1rem;
    color: #000;
}

#dialogo-pregunta-respuestas .normal:hover h6,
#dialogo-pregunta-respuestas .normal:hover p{
    background-color: #00BE91;
    color: #fff;
}
#dialogo-pregunta-respuestas .incorrecta h6,
#dialogo-pregunta-respuestas .incorrecta p{
    background-color: #CA0045;
    color: #fff;
}
#dialogo-pregunta-respuestas .correcta h6{
    animation: animacion-respuesta-correcta-h6 0.4s infinite step-end;
}
#dialogo-pregunta-respuestas .correcta p{
    animation: animacion-respuesta-correcta-p 0.4s infinite step-end;
}
@keyframes animacion-respuesta-correcta-h6{
    0%,100%{
        background-color: #FADCC7;
        color: #EE7623;
    }
    50%{
        background-color: #00BE91;
        color: #fff;
    }
}
@keyframes animacion-respuesta-correcta-p{
    0%,100%{
        background-color: #FDF6F1;
        color: #000;
    }
    50%{
        background-color: #00BE91;
        color: #fff;
    }
}

#dialogo-pregunta-retroalimentacion{
    width: 100%;
    font-family: 'Helvetica';
    font-size: 0.95rem;
    color: #000;
}

/******************modal********************/

#modal,
#modal-final{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-off,
.modal-final-off{
    pointer-events: none;
    visibility: hidden;
    top: -20px;
    opacity: 0;
    transition: visiblity 0.5s, top 0.5s, opacity 0.5s;
}
.modal-on,
.modal-final-on{
    top: 0px;
    opacity: 1;
    visibility: visible;
}
.modal-box,
.modal-final-box{
    height: auto;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.4);
    padding: 40px 15px 15px 15px;
    border-top: #59595B solid 4px;
}
.modal-box{
    width: 400px;
}
.modal-final-box{
    width: 650px;
}

#modal-title,
#modal-final-title{
    display: block;
    width: 80%;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

#modal-title{
    font-family: 'Helvetica-Bold';
    font-size: 1.1rem;
    color: #000;
    text-align: center;
}

#modal-final-title h3{
    font-family: 'Helvetica-Bold';
    font-size: 0.9rem;
    color: #808080;
    text-align: center;
    margin-bottom: 2px;
}
#modal-final-title h1{
    font-family: 'Helvetica-Bold';
    font-size: 1.1rem;
    color: #000;
    text-align: center;
    margin-bottom: 5px;
}
#modal-final-title h2{
    font-family: 'Helvetica';
    font-size: 0.9rem;
    color: #000;
    text-align: center;
}
#modal-final-title h2 span{
    font-weight: 600;
    color: #00BE91;
}

#modal-text,
#modal-final-text{
    width: 100%;
    background-color: #F2F2F2;
    padding: 10px;
    margin-bottom: 15px;
}
#modal-text p,
#modal-final-text p,
#modal-final-text h6{
    font-family: 'Helvetica';
    font-size: 1rem;
    
    margin-bottom: 10px;
}

#modal-text p{
    color: #59595B;
}
#modal-final-text p{
    color: #000;
}
#modal-final-text h6{
    color: #EE7623;
    font-weight: 600;
}
#modal-text p span{
    color: #EE7623;
    font-weight: 600
}
#modal-final-text p span{
    font-weight: 600;
}

#modal-btn{
    background-color: #EE7623;
    width: 100%;
    height: auto;
    padding: 10px;

    font-family: 'Helvetica';
    font-size: 1.1rem;
    color: #fff;
    font-weight: 600;

    transition: background-color 0.2s;
}
#modal-btn:hover{
    cursor: pointer;
    background-color: #C6621E;
}